/*  this is the edited style css file */
body,
hr {
  background-color: #32323d;
  color: antiquewhite;
}

img {
  display: inline-block;
  width: 220px;
  height: 150px;
  border: solid black;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72, 61, 139, 0.35);
  width: 97.5%;
  position: fixed;
  padding: 4px;
  border: solid rgb(255, 255, 255, 0.35);
}

.navBar {
  background-color: rgb(165, 138, 103);
}

a:hover {
  background-color: blanchedalmond;
}

.quote {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5%;
  font-size: 25pt;
  text-align: center;
}

/* contains the main part of the body, not including navigation bar*/
#homeContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: fixed;
  border: solid rgb(255, 255, 255, 0.35);
  background-color: rgb(72, 61, 139, 0.35);
  margin-top: 11.5%;
  padding: 30px;
}

#h-sec1 {
  display: flex;
  margin: 4%;
}

#h-sec2 {
  text-align: center;
}

.h-head {
  border: dotted rgb(255, 255, 255, 0.35);
}

/* css for the about page */
/* container holding the entire section of about*/
#aboutContainer,
#portfolioContainer,
#contactContainer,
#submitContainer {
  display: grid;
  position: fixed;
  border: solid rgba(255, 255, 255, 0.35);
  background-color: rgba(72, 61, 139, 0.35);
  margin-top: 11.5%;
  padding: 30px;
}

/* grid layout for the hobbies section in about page with 2 columns and 3 rows*/
#aboutHobbies {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto repeat(3, auto);
  gap: 10px;
}

/* Styling for the about heading 2*/
.a-head {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
}

/* Styling for each text item in about */
.aboutText-item {
  display: flex;
  flex-direction: column;
}

/* Position each text item in about in the left column */
.aboutText-item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.aboutText-item:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.aboutText-item:nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}

/* css for contact html */
.c-head {
  position: center;
}
